<div class="movies">
  <img src="https://image.tmdb.org/t/p/original/{{@popmovies.poster_path}}" alt={{@popmovies.title}}/>
  <div class="size name">
      Name: <span>{{@popmovies.title}}</span> 
  </div>
  <div class="size rating">
      Rating: <span>{{@popmovies.vote_average}}/10</span>
  </div>x
  <div class="size year">
      year: <span>{{@popmovies.release_date}}</span>
  </div>
</div>